* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

img {
    height: 200px;
}